<html>
  <head>
    <title>Confirmation</title>
  </head>
  <body leftmargin="0" marginheight="0" marginwidth="0" offset="0" style="font-family:'Trebuchet MS'; font-size:13px; color:#666" topmargin="0">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:750px;padding-top:10px;">
      <tr>
        <td>
          <table align="center" border="0" cellpadding="10" cellspacing="0" style="width:640px">
            <tr>
              <td height="50" style="text-align: center;">
                <img src="<%=APP_CONFIG["host_url"]%>/image/Inset-all-in-one.png" style="height:100%;"/>
              </td>
            </tr>
            <tr>
              <td style="border:1px solid #dfdfdf; background-color:#ffffff; font-size:13px; font-family:Trebuchet MS, tahoma, verdana; color:#666666;">
                <p>
                  Hi&nbsp;<%= @name%>,
                </p>
                <p style="color:#666666">
                  The following deal(s) are assigned to you.
                </p>
				
                <p>
                  <% i = 1 %>
				  <%- @deals.each do |dl| %>
					<%=i%>.
					
						<%=link_to dl.title, "<%=APP_CONFIG["host_url"]%>/leads/#{dl.id}"%>
					
					<%- if dl.initiator.present? %>
					 created by <%=dl.initiator.full_name%> 
					<% end %>
					<br/>
					<%i += 1%>
				 <% end %>
                </p>
                <div style="clear:both;height:5px"></div>
                
              </td>
            </tr>
            <%=render :partial=>"email_footer"%>
          </table>
        </td>
      </tr>
      
      <tr>
        <td height="20px"></td>
      </tr>
    </table>
  </body>
</html>
