<!DOCTYPE html>
<html>
<head>
	<title>Send Weekly Email</title>
	<style type="text/css">
		body{background:#ccc;font-family: Arial, Helvetica, sans-serif;color:#222}
		a{color:#4c95de;text-decoration:none}
	</style>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
  <div style="width:50%;margin:0 auto;background:#fff;">
  	<div style="padding: 50px">
  		<div>
	  	  <div>
	  	  	<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/wakeupsales-logo-w.png" style="height:70px;width:70px;">
	  	  </div>
	  	  <div>
	  	  	<h1>
	  	  		See the 61 notifications ready and waiting just for you
	  	  	</h1>
	  	  </div>
	  	  <div>
	  	    <a href="javascript:void(0)" style="float: left;background: #00aad4;color: #fff;padding: 10px 15px;border-radius: 30px;font-weight: bold;display:inline-block;text-decoration:none;">Take a Look <img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_arrow_right_icon.png" style="display: inline-block;vertical-align: middle;height: 17px;width: 17px;margin-left: 5px;margin-top: -2px;" height="20px" width="20px"></a>
	  	    <div style="float:right;text-align: center;">
	  	    	<div style="color: #777;font-size: 16px;font-weight: bold;">
	  	    		Weekly Report
	  	    	</div>
	  	    	<div style="margin-top: 10px;color: #333;font-size: 14px;">
	  	    		1st - 7th July '17
	  	    	</div>
	  	    </div>
	  	    <div style="clear:both"></div>
	  	  </div>
  		</div>
	  	<div style="border: 2px solid #aaa;border-radius: 10px;padding: 30px 40px;margin-top: 40px;">
	  		<div style="font-size: 18px;font-weight: bold;">
	  			Leads, tasks, projects and more - you'll find<br>them all in your Notifications. Here's a glimpse.
	  		</div>
	  		
	  		<div>
	  			<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_new_leads_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">15 new Leads</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="">Explore</a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>

		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_tasks_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">13 new Tasks</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="">Check Out</a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_contacts_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>	
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">15 new Contacts</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="">Know more</a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_projects_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>	
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">15 new Projects</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="">Explore</a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_new_job_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>	
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">15 new Jobs</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="">Check Out</a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_invoices_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>		
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">15 new Invoices</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="">Know more</a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
	  		</div>
	  		<div style="margin-top: 30px;border-top: 2px solid #ddd;">
	  			
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_need_follow_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>		
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">Need Follow-ups</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="#" style="color: #fff;background: #00cc99;text-decoration: none;padding: 5px 10px;display: block;border-radius: 7px;font-size: 14px;font-weight: bold;">23 <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_upcoming_tasks_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>		
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">Upcoming Tasks</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="#" style="color: #fff;background: #00cc99;text-decoration: none;padding: 5px 10px;display: block;border-radius: 7px;font-size: 14px;font-weight: bold;">23 <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
		  		<div style="margin-top: 30px;">
		  			<div style="float:left;">
		  				<span style="display: inline-block;vertical-align: middle;width:50px;text-align: center;">
		  					<img src="<%=APP_CONFIG["host_url"]%>/assets/new-ui/email_upcoming_jobs_icon.png" style="height:30px;width:auto;display: inline-block;vertical-align: middle;">
		  				</span>		
		  			    <span style="display: inline-block;vertical-align: middle;margin-left: 10px;">Upcoming Jobs</span>
		  			</div>
		  			<div style="float:right;margin-top: 13px;">
		  				<a href="#" style="color: #fff;background: #00cc99;text-decoration: none;padding: 5px 10px;display: block;border-radius: 7px;font-size: 14px;font-weight: bold;">23 <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		  			</div>
		  			<div style="clear:both"></div>
		  		</div>
	  		</div>
	  	</div>
	  	<div>
	  		<h2 style="font-size: 20px;margin: 30px 0 0;">
	  			Why did you get this mail?
	  		</h2>
	  		<p style="line-height: 28px;font-size: 15px;">
	  			You are using Inset CRM to make your business better. And we thought we'd do our best to make things even easier for you. So here's a curated list of updates we thought you should look at. 
	  		</p>
	  	</div>
	  	<div>
	  		<div style="text-align:center;margin-top: 30px;">
	  			<a href="#" style="text-decoration: none;font-size: 22px;border-right: 2px solid #999;padding: 0px 10px;">Help</a>
	  			<a href="#" style="text-decoration: none;font-size: 22px;border-right: 2px solid #999;padding: 0px 10px;">Setting</a>
	  			<a href="#" style="text-decoration: none;font-size: 22px;padding: 0px 10px;">Blog & News</a>
	  		</div>
	  		<div style="text-align: center;line-height: 26px;margin-top: 30px;">
	  			This email was generated from your insetcrm.com account.
	  		</div>
	  	</div>
  	</div>
  </div>
</body>
</html>