<style type="text/css">
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
</style>
<br/><br/><br/>
<div class="row contact_row" style="width: 41%;margin: 0 auto;">
  <div class="contact_div">
    <div class="well">
      <legend>Resend confirmation instructions</legend>
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <div style="color: #e34b4b;font-size: 16px;">
          <%= devise_error_messages! %>
        </div>
        <div style="margin-top: 10px;">
          <%= f.label :email %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, :class=>"form-control",style: "font-size: 20px;height: 45px;" , placeholder: "Email",required: true %>
        </div>
        <div><%= f.submit "Resend confirmation instructions", :class => "btn btn-primary btn-success" , style: "width: 100%;height: 45px;font-size: 20px;background-color: #42b475;color: #fff;" %></div>
      <% end %>
      <div style="margin-top:10px">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
