:css
  .content-body{
    margin:top:50px;
  }
.normalheader.small-header
  .hpanel
    .panel-body
      %a.small-header-action{:href => ""}
        .clip-header
          %i.fal.fa-arrow-up
      - unless @deals.blank? && @individual_contacts.blank? && @tasks.blank?
        %h2
          Searched record for :
          %span
            =  params[:query]
.content
  .row
    .hpanel
      - unless @deals.blank?
        .panel-heading
          .panel-tools
            %a.showhide
              %i.fa.fa-chevron-up
            %a.closebox
              %i.fa.fa.fa-times
          Leads(
          = "#{@deals.count}"
          )
        .panel-body
          .table-responsive
            %table.table{cellspacing: "1", cellpadding:"1"}
              %thead
                %tr
                  %th
                    Title
                  %th
                    Name
                  %th 
                    Email
                  %th
                    Country
                  %th
                    Action
              %tbody
                - @deals.each do |deal|
                  %tr
                    %td
                      = deal.title
                    %td
                      = deal.contact_info['name'] if deal.contact_info.present?
                    %td
                      = deal.contact_info['email'] if deal.contact_info.present?
                    %td
                      - country = Country.find_by_id(deal.country_id)
                      = country.name if country
                    %td
                      = link_to "Show", "/leads/#{deal.to_param}"
    - unless @individual_contacts.blank?
      .hpanel
        .panel-heading
          .panel-tools
            %a.showhide
              %i.fa.fa-chevron-up
            %a.closebox
              %i.fa.fa.fa-times
          Contacts(
          = "#{@individual_contacts.count}"
          )
        .panel-body
          .table-responsive
            %table.table{cellspacing: "1", cellpadding:"1"}
              %thead
                %tr
                  %th
                    First Name
                  %th
                    Last Name
                  %th 
                    Email
                  %th
                    Action
              %tbody
                - @individual_contacts.each do |individual_contact|
                  %tr
                    %td
                      = individual_contact.first_name
                    %td
                      - if individual_contact.last_name
                        = individual_contact.last_name
                      - else
                        = "NA"
                    %td
                      = individual_contact.email
                    %td
                      = link_to "Show", "/contact/#{individual_contact.id}"
    - unless @tasks.blank?
      .hpanel
        .panel-heading
          .panel-tools
            %a.showhide
              %i.fa.fa-chevron-up
            %a.closebox
              %i.fa.fa.fa-times
          Tasks(
          = "#{@tasks.count}"
          )
        .panel-body
          .table-responsive
            %table.table{cellspacing: "1", cellpadding:"1"}
              %thead
                %tr
                  %th
                    Title
                  %th
                    Task Type
                  %th 
                    Priority
                  %th
                    Action

              %tbody
                - @tasks.each do |task|
                  %tr
                    %td
                      = task.title
                    %td
                      = (task_type = TaskType.find_by_id(task.id)).present? ? task_type.name : "NA"
                    %td
                      = (priority_type = PriorityType.find_by_id(task.priority_id)).present? ? priority_type.name : "NA"
                    %td
                      %a{"data-toggle" => "modal", href: "#showTaskModal", rel: "popup", title: "Show", onclick: "show_task_details(#{task.id})"}
                        Show
    - unless @projects.blank?
      .hpanel
        .panel-heading
          .panel-tools
            %a.showhide
              %i.fa.fa-chevron-up
            %a.closebox
              %i.fa.fa.fa-times
          Projects(
          = "#{@projects.count}"
          )
        .panel-body
          .table-responsive
            %table.table{cellspacing: "1", cellpadding:"1"}
              %thead
                %tr
                  %th
                    Title
                  %th
                    Short name
                  %th
                    Status
                  %th
                    Action

              %tbody
                - @projects.each do |project|
                  %tr
                    %td
                      = project.name
                    %td
                      = project.short_name
                    %td
                      = project.status
                    %td
                      = link_to "Show", "/projects/#{project.id}"

    - if @deals.blank? && @individual_contacts.blank? && @tasks.blank? && @projects.blank?
      %h2{style: "text-align: center;color:#d26565;"}
        No record found for :
        %span{style: "color:#6e6eba"}
          =  params[:query]
#showTaskModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.cstm-material-modal
    .modal-content
      .modal-header
        %span.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
        %h4.modal-title Task Details
      .modal-body
        
        
:javascript
  function show_task_details(id){
    $("#showTaskModal .modal-body").html("<img src='/assets/ajax-loader2.gif'/>");
    $.ajax({
      url: 'get_task_details',
        type: 'GET',
        data: {id: id},
        success: function(res) {
          $("#editStageModal").modal('hide');
          $("#showTaskModal .modal-body").html(res);
          $("#showTaskModal").show();
        },
        error: function(res) {
          $("#lead_error").show();
        }
    });
  }