/ :css
/   .dataTables_paginate { float: right; margin-top:-18px; }
/   .dataTables_length{margin-left: 215px;margin-top: -15px;display:none;}
.table-responsive
  -if @current_user.is_admin?
    - as_to = cookies[:task_assigned_to]
    - my_to = cookies[:assigned_toa]
  -else
    - as_to = current_user.id
  %table.table.table-striped.table-bordered.table-hover.no-footer.ajax-task-listing.dataTable{cellspacing: "40", id: "taskList", class: "taskList","data-source"=>tasks_url(format: 'json',params: {mytype: my_to,cuser: current_user.id, deal_id: (!@deal.nil? ? @deal.id : 0), deal_type: cookies[:deal_type_val], asg_to: cookies[:asg_to_val], task_type: cookies[:task_type_val] , task_status: params[:task_status], dt_range: cookies[:dt_range], assigned_to: as_to,y: cookies[:task_year],q: cookies[:task_quarter], t_type: params[:t_type]})}

    %thead
      %tr
        %th{style: "width:5%"}
        %th{style: "width:20%"}
          Task Title
        %th{style: "width:15%;cursor:pointer;"}
          Due Date
        %th{style: "width:10%;cursor:pointer;"}
          Priority
        %th{style: "width:15%"}
          Linked with
        %th{style: "width:15%"}
          Contact
        %th{style: "width:10%"}
          Outcome / Next Action
        %th{style: "width:10%;cursor:pointer;"}
          Task Type
        //%th
        //  Action
    %tbody
=render :partial => "tasks/task_edit_popup"
=render :partial => "tasks/task_followup_popup"
#taskView.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog.pop-lrg
    .modal-content
      .color-line
      .modal-header
        %span.fr.clse_pop{"aria-hidden" => "true", "data-dismiss" => "modal"}
          %i.fal.fa-times.fa-2x
        %h4.modal-title
          %span.fal.fa-tasks
          VIEW TASK
      .modal-body 
        %h4
          %strong
            Task Details
        .all-details
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
               

:javascript
  //$(document).ready(function() {
  //if("#{escape_once(params[:task_status])}" != "today" || "#{escape_once(params[:task_status])}" != "upcoming" || "#{escape_once(params[:task_status])}" != "overdue" ){col="{sClass: 'check_box_col_width'},{sClass: 'col-md-7'},  null" }else{col="sClass: 'check_box_col_width'},{sClass: 'col-md-7'}, null, null"}
   if("#{escape_once(params[:task_status])}" == "today" || "#{escape_once(params[:task_status])}" == "open" || "#{escape_once(params[:task_status])}" == "overdue" ){
        $('#taskList').dataTable({
          oLanguage: {"sLengthMenu": "_MENU_" ,
            oPaginate: {
              "sPrevious": "Prev"
            }
          },
        sPaginationType: "bootstrap",
        bJQueryUI: true,
        bServerSide: true,
        "bStateSave": true,
        aLengthMenu: [[20, 25, 50, 100], [20, 25, 50, 100]],
        iDisplayLength: 20,
        aoColumns: [{sClass: 'check_box_col_width'}, null, null, null, null, null, null, null],
        "sDom": '<"dtTop dtTables">rt<"dtBottom"><"dtInfo fl"i><"dtPagination fr"p>',
        sAjaxSource: $('#taskList').data('source'),
        bLengthChange: true,
        aoColumnDefs: [
          {
            aTargets: [0],
              bSortable: false,
              mRender: function(data, type, row ){
                
                $("#"+$("#task_status_value").val()+"Badge").html('(' + row[14] + ')')
                if(row[14] > 25){
                 $(".dataTables_length").show();
                 $('.dataTables_length select').addClass('form-control');
                }
                 $('.dataTables_length select').addClass('form-control');
                str = "<div class='priority_border' style='background:"+row[0]+"'></div><div class='navbar-left'>";
                str += "<div class='dropdown'><div class='deal_set dropdown-toggle' data-toggle='dropdown' href='javascript:' rel='tooltip' title='Actions' style='cursor:pointer'></div>";
                var cldurl= "#{ENV['cl  oudfront']}"
                if(row[11] == "false"){
                 str += "<ul class='dropdown-menu'><li class='arrow_top'></li> \
                 <li><a href='javascript:void(0)' onclick='mark_as_complete("+row[3]+")'><span class='fal fa-check-circle'></span>Complete</a></li> \
                 <li><a href='javascript:void(0)' onclick=\"$('#taskEditModal').modal('show');edit_popup('"+row[3]+"');\" rel='tooltip' title='Edit'><span class='fal fa-pencil'></span>Edit</a></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" title='Follow-up'><span class='fal fa-phone-volume add_i_flow'></span>Follow Up</a></li><li><a  href='javascript:' onclick=\"delete_current_task('"+row[3]+"');\"rel='tooltip nofollow'  rel='tooltip nofollow' title='Delete'><span class='fal fa-trash'></span>Delete</a></li></ul>";
                  }else{
                    str+= "<ul class='dropdown-menu'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" rel='tooltip' title='Follow-up'><span class='add_i_flow'></span>Follow Up</a></li></ul>";
                }            
                return str + "</div><div>"+row[2]+"</div></div>";
              }
          },
          {aTargets: [1],
              bSortable: false,
              mRender: function(data, type, row ){
                if(row[23] == ""){
                  str = "<div class='fl' style='background:" + row[22] + "'></div>";
                }else{
                  str = "<div class=''></div>";
                }
                return str+="<div style:'"+row[13]+"'> \
                      <span class='task_list'> \
                        <span> \
                          <a href='javascript:void(0)' onclick=\"view_popup('"+row[3]+"')\"><b title='"+row[28]+"'>"+row[4]+"</b></a> \
                          <br> \
                          <span class='assigned_user'> \
                            <font class='created_by'> \
                              Created By "+row[8]+" \
                              on \
                              "+row[7]+" \
                              <br> \
                              Assigned to "+row[6]+" \
                            </font> \
                          </span> \
                        </span> \
                      </span> \
                    </div><div class='cb'></div>"
                }},
     
          {aTargets: [2],
              bSortable: true,
              mRender: function(data, type, row ){
                return row[5]
                }},
          {aTargets: [3],
              bSortable: true,
              mRender: function(data, type, row ){
                return row[34]
                }},
          {aTargets: [4],
              bSortable: false,
              mRender: function(data, type, row ){
                if(row[30] == "IndividualContact"){
                  var contact_url = "/contact/"+row[29]
                }else{
                  var contact_url = "/contact/"+row[29]+"?type=company"
                }
                if(row[31].length > 20){
                var opportunity_name = row[31].substring(0,17) + "...";
                var opportunity_title = row[31];
                }
                else{
                var opportunity_name = row[31];
                var opportunity_title ="";
                }
                //return row[33];
                return "<div>"+row[33]+"<br><a href='"+row[12]+"'>"+opportunity_name+"</a></div>"
                //return "<div>"+row[19]+"</div> \
                //        <div style='font-size: 12px;'><a href='javascript:void(0)' class='change-color-ll' data-target = '#SendEmailModal' data-toggle = 'modal' rel='tooltip' onclick='$(\"#send-mail-popup\").get(0).reset();$(\"#to\").val(\"" + row[20] + "\");$(\"#mailer_id\").val(\"" + row[24] + "\");$(\"#mailer_type\").val(\"" + row[25] + "\");$(\"#email_contact_id\").val(\"" + row[24] + "\");$(\"#email_contact_type\").val(\"" + row[25] + "\")'>"+row[20]+"</a></div>"
                }},
          //{aTargets: [3],
          //  mRender: function(data, type, row ){
          //    if(row[31].length > 20){
          //      var opportunity_name = row[31].substring(0,17) + "...";
          //      var opportunity_title = row[31];
          //    }
          //    else{
          //      var opportunity_name = row[31];
          //      var opportunity_title ="";
          //    }
          //    if(row[32] == "")  
          //      return "<a class='link_n' href='"+row[12]+"' title='"+opportunity_title+"'>"+opportunity_name+"</span>";   
          //    else
          //      return "<a href='"+row[12]+"' style='cursor:not-allowed;color:#999;' title='"+row[32]+"'>"+opportunity_name+"</span>"; 
          //   end    
          //    }},
          {aTargets: [5],
              bSortable: false,
              mRender: function(data, type, row ){
                return "<a href='"+row[36]+"'><div style='text-align:center;'>"+row[35]+"</div></a>"
                }},
          {aTargets: [6],
            bSortable: false,
            mRender: function(data, type, row ){
              if(row[9] != ''){
                var str = "<div class='next_action'><span class='nxt-action-name'>"+row[9]+"</span>";
                if(row[11] == "true"){
                  str+="<span class='fal fa-pencil' style='cursor:not-allowed;'></span></div>";
                }else{
                  str+="<span class='fal fa-pencil tooltip' title='Edit the outcome of the task' onclick='$(\"#complete_task_"+row[3]+"\").click();' style='cursor:pointer;'></span></div>";
                }
                return str;
              }else{
                if(row[11] == "true"){
                  return "<div style='cursor:not-allowed'>Set a Next Action</div>"
                }else{
                  return "<a href='javascript:void(0)' onclick='$(\"#complete_task_"+row[3]+"\").click();'>Set a Next Action</a>"
                }
              }
            }
          },
          {aTargets: [7],
              bSortable: true,
              mRender: function(data, type, row ){
                if(row[10] != ''){
                  if(row[10].length > 15)
                    var name = row[10].substring(0,13) + ".."
                  else
                    var name = row[10]
                }
                return "<div style="+row[13]+"> \
                        <div class='label"+row[10]+" labelTaskType col-md-10 task_"+row[3]+"' title='"+row[10]+"'>"+name+"</div><div class='dropdown'><span class='caret dropdown-toggle' style='cursor:pointer' data-toggle='dropdown' onclick='getTaskType("+row[3]+")'></span><ul class='dropdown-menu'><li class='arrow_top'></li><div class='task-type-list'></div></ul></div>\
                        <div class='cb'></div><div>"+row[16]+"</div> \
                        </div>"
                
                }}
         
        ],
        fnPreDrawCallback: function() { $('#task_loader').show();},
        fnDrawCallback: function() {$('#task_loader').hide();},
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {      
          $(nRow).addClass('task_row');
           $(nRow).hover(
            function() {
            $(this).find("div.action_task").show();
            }, function() {
            $(this).find("div.action_task").hide();
           });
           
        }
        
      });  
   
   }else{
      $('#taskList').dataTable({
        oLanguage: {"sLengthMenu": "_MENU_" },
        sPaginationType: "bootstrap",
        bJQueryUI: true,
        bServerSide: true,
        "bStateSave": true,
        aLengthMenu: [[20, 25, 50, 100], [20, 25, 50, 100]],
        iDisplayLength: 20,
        aoColumns: [{sClass: 'check_box_col_width'}, null, null, null, null, null, null, null],
        "sDom": '<"dtTop dtTables">rt<"dtBottom"><"dtInfo fl"i><"dtPagination fr"p>',
        sAjaxSource: $('#taskList').data('source'),
        bLengthChange: true,
        aoColumnDefs: [
          {
            aTargets: [0],
              bSortable: false,
              mRender: function(data, type, row ){
                
                $("#"+$("#task_status_value").val()+"Badge").html('(' + row[14] + ')')
                if(row[14] > 25){
                 $(".dataTables_length").show();
                 $('.dataTables_length select').addClass('form-control');
                }
                str = "<div class='priority_border' style='background:"+row[0]+"'></div><div class='navbar-left'>";
                str += "<div class='dropdown'><div class='deal_set dropdown-toggle' data-toggle='dropdown' href='javascript:' rel='tooltip' title='Actions' style='cursor:pointer'><i class='fa fa-ellipsis-h'></i></div>";
                var cldurl= "#{ENV['cl  oudfront']}"
                if(row[11] == "false"){
                 str += "<ul class='dropdown-menu'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick='mark_as_complete("+row[3]+")'><span class='fal fa-check-circle'></span>Complete</a></li><li><a href='javascript:void(0)' onclick=\"$('#taskEditModal').modal('show');edit_popup_task('"+row[3]+"');$('#clicked_button_ref').val(check_active_tab());\" rel='tooltip' title='Edit'><span class='fal fa-pencil'></span>Edit</a></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" title='Follow-up'><span class='fal fa-phone-volume add_i_flow'></span>Follow Up</a></li><li><a  href='javascript:' onclick=\"delete_current_task('"+row[3]+"');\"rel='tooltip nofollow'  rel='tooltip nofollow' title='Delete'><span class='fal fa-trash'></span>Delete</a></li></ul>";
                  }else{
                    str+= "<ul class='dropdown-menu'><li class='arrow_top'></li><li><a href='javascript:void(0)' onclick=\"$('#taskFollowModal').modal('show');follow_popup('"+row[3]+"')\" rel='tooltip' title='Follow-up'><span class='add_i_flow'></span>Follow Up</a></li></ul>";
                }            
                return str + "</div><div class='cb' style='text-align:center'>"+row[2]+"</div></div>";
              }
          },
          {aTargets: [1],
              bSortable: false,
              mRender: function(data, type, row ){
               if(row[23] == ""){
                  str = "<div class='fl' style='background:" + row[22] + "'></div>";
                }else{
                  str = "<div class=''></div>";
                }
                str += "<div style='"+row[13]+"'> \
                      <span class='task_list'> \
                        <span> \
                          <a href='javascript:void(0)' onclick=\"view_popup('"+row[3]+"')\"><b title='"+row[28]+"'>"+row[4]+"</b></a> \
                          <br> \
                          <span class='assigned_user'> "
                           str += "<font class='created_by'> \
                              Created by\
                              "+row[8]+" \
                              on "+row[7]+" \
                            </font><br> \
                            Assigned to "+row[6]+" \
                          </span>"
                          if(row[11] == "true"){
                           str +="<div class='amount_info'> \
                            <span class='tooltip-custom tooltip' title='Completed on &nbsp;"+row[15] +"'>?</span> \
                            </div>"
                            }
                          if(row[37] != ""){
                           str +="<div class='reminder_info tooltip' title='Reminder set on &nbsp;"+row[37] +"'><span class='cwkp-sprite reminder'></span> \
                            </div>"
                            }
                        "</span> \
                      </span> \
                    </div><div class='cb'></div>"
                    return str 
                }},
          {aTargets: [2],
              bSortable: true,
              mRender: function(data, type, row ){
                return row[5]
                }},
          {aTargets: [3],
              bSortable: true,
              mRender: function(data, type, row ){
                return row[34]
                }},
          {aTargets: [4],
              bSortable: false,
              mRender: function(data, type, row ){
                if(row[30] == "IndividualContact"){
                  var contact_url = "/contact/"+row[29]
                }else{
                  var contact_url = "/contact/"+row[29]+"?type=company"
                }
                if(row[31].length > 20){
                var opportunity_name = row[31].substring(0,17) + "...";
                var opportunity_title = row[31];
                }
                else{
                var opportunity_name = row[31];
                var opportunity_title ="";
                }
                //return row[33];
                return "<div>"+row[33]+"<br><a href='"+row[12]+"'>"+opportunity_name+"</a></div>"
                //return "<div><a href='"+contact_url+"' class='change-color-ll'>"+row[19]+"</a></div> \
                //        <div style='font-size: 12px;'><a href='javascript:void(0)' class='change-color-ll' data-target = '#SendEmailModal' data-toggle = 'modal' rel='tooltip' onclick='$(\"#send-mail-popup\").get(0).reset();$(\"#to\").val(\"" + row[20] + "\");$(\"#mailer_id\").val(\"" + row[24] + "\");$(\"#mailer_type\").val(\"" + row[25] + "\");$(\"#email_contact_id\").val(\"" + row[24] + "\");$(\"#email_contact_type\").val(\"" + row[25] + "\")'>"+row[20]+"</a></div>"
                
                }},
          //{aTargets: [3],
          //  mRender: function(data, type, row ){
          //    if(row[31].length > 20){
          //      var opportunity_name = row[31].substring(0,17) + "...";
          //      var opportunity_title = row[31];
          //    }
          //    else{
          //      var opportunity_name = row[31];
          //      var opportunity_title ="";
          //    }
          //    if(row[32] == "")  
          //      return "<a class='link_n' href='"+row[12]+"' title='"+opportunity_title+"'>"+opportunity_name+"</span>";   
          //    else
          //      return "<a href='"+row[12]+"' style='cursor:not-allowed;color:#999' title='"+row[32]+"'>"+opportunity_name+"</span>"; 
          //    end        
          //    }},
          {aTargets: [5],
            bSortable: false,
            mRender: function(data, type, row ){
              return "<a href='"+row[36]+"'><div style='text-align:center;'>"+row[35]+"</div></a>"
          }},
          {aTargets: [6],
              bSortable: false,
              mRender: function(data, type, row ){
                if(row[9] != ''){
                  var str = "<div class='next_action'><span class='nxt-action-name'>"+row[9]+"</span>";
                  if(row[11] == "true"){
                    str+="<span class='fal fa-pencil' style='cursor:not-allowed;'></span></div>";
                  }else{
                    str+="<span class='fal fa-pencil tooltip' title='Edit the outcome of the task' onclick='$(\"#complete_task_"+row[3]+"\").click();' style='cursor:pointer;'></span></div>";
                  }
                  return str;
                }else{
                  if(row[11] == "true"){
                    return "<div style='cursor:not-allowed'>Set a Next Action</div>"
                  }else{
                    return "<a href='javascript:void(0)' onclick='$(\"#complete_task_"+row[3]+"\").click();'>Set a Next Action</a>"
                  }
                }
                
                }},
          {aTargets: [7],
              bSortable: true,
              mRender: function(data, type, row ){
                if(row[10] != ''){
                  if(row[10].length > 15)
                    var name = row[10].substring(0,13) + ".."
                  else
                    var name = row[10]
                }
                str = "<div class='label"+row[10]+" labelTaskType col-md-10 task_"+row[3]+"' title='"+row[10]+"'>"+name+"</div><div class='dropdown'><span class='caret dropdown-toggle space-left black' style='cursor:pointer' data-toggle='dropdown' onclick='getTaskType("+row[3]+")'></span><ul class='dropdown-menu pull-right'><li class='arrow_top'></li><div class='task-type-list'></div></ul></div>\
                        <div class='cb'>"   
                 if(row[11] == "false"){
                    str+="<div>"+row[17]+"</div> "
                 }
                  str += "   </div>"
                return str
                }}
        ],
        fnPreDrawCallback: function() { $('#task_loader').show();},
        fnDrawCallback: function() {$('#task_loader').hide();},
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {      
          $(nRow).addClass('task_row');
           $(nRow).hover(
            function() {
            $(this).find("div.action_task").show();
            }, function() {
            $(this).find("div.action_task").hide();
           });
           
        }
        
      });
  }
  $('.taskList').on( 'xhr', function ( e, o, json ) { 
    $("#"+$("#task_status_value").val()+"Badge").html('(' + json.iTotalDisplayRecords + ')');
    if("#{escape_once(cookies[:t_type])}" != ""){
      $('#filter_msg').show().html('Filtered ' + json.iTotalDisplayRecords + ' tasks from ' +  json.iTotalRecords + ' tasks <a href="/tasks?type=all" class="btn btn-xs btn-warning" onclick="reset_all_task_filter()">RESET</a>')
      $.removeCookie("t_type");
    }else{
      $('#filter_msg').hide()
    }
  });
  
  
  function follow_popup(id){
    $.ajax({
      type: "POST",
      url: "/follow_up_task",
      dataType: 'json',
      async: true,
      data: {task_id: id},
      beforeSend: function(){
        $("#task_loader").show();
      },
      success: function(data)
      {
      },
      error: function(data) {
        $("#task_loader").hide();
      },
      complete: function(data) {
        $("#followform_content").html(data.responseText);
        $("#task_loader").hide();
        $('#clicked_button_ref').val(check_active_tab());
      }
    });
  }

  function task_outcome(id){
    $('#create_task').prop('checked', false);
    $("#create_task_comp").val(0)
    $("#task_note").hide();
    $(".ff").attr('checked',false);
    $(".ff").attr('required',true);
    $("#task_id").val(id);
    $("#taskNoteModal").modal('show');
  }
  function getTaskType(task_id){
    $(".task-type-list").html("<img src='/assets/ajax-loader2.gif'/>");
    $.ajax({
      type: "GET",
      url: "/get_task_type",
      data: {task_id: task_id},
      success: function(data)
      {
        $(".task-type-list").html(data);
      },
      error: function(data) {
        alert("Got an Error.!!!");
      }
    });
  }
  function mark_as_complete(id){
    var action ="/complete"
    var stype="task";
    var note="";
    var task_multi="";
    var create_task="";
    var deal_id="";
    var task_type="";
    var contact_id="";
    $.ajax({
      type: "POST",
      url: action,
      dataType: 'json',
      async: true,
      data: {task_id: id, note: note,task_out_val: task_multi,create_task: create_task,stype: stype,deal_id: deal_id, task_type: task_type,contact_id: contact_id, complete_task:"true"},
      beforeSend: function(){
        $("#task_loader,.fixed_loader").show();
      },
      success: function(data)
      {
      },
      error: function(data) {
        $("#task_loader,.fixed_loader").hide();
      },
      complete: function(data) {
        if(stype == "deal")
        {
          $("#task_header").html(data.responseText);
          var type = $("#latest_task_type").val();
          $("#deal_"+deal_id).html("<div class='last_task_"+ type +"'><div class='label"+ type +" labelTaskType tasktype'>"+ type +"</div></div>")
        }
        else if(stype == "contact")
        {
          $("#contact_task_list").html(data.responseText);
        }
        else
        {
          $("#task_header").html(data.responseText);
          $("#task_note_form")[0].reset();
          $("li").removeClass("active");
          $("#"+task_type+"Task").addClass("active");
          if($("#create_task_comp").val() == 0){
            show_alert_message("success", "Great! Your Next Action has been updated.");
          }else{
            show_alert_message("success", "Task has been marked as completed");
          }
          if($('#dashboard').val() == "dashboard")
          {
            widget_tasks(task_type);
            $.ajax({
              type: "POST",
              url: "/usage",
              dataType: 'json',
              async: true,
              beforeSend: function(){
                //$("#task_loader").show();
              },
              success: function(data)
              {
              },
              error: function(data) {
                //$("#task_loader").hide();
              },
              complete: function(data) {
              if(data.responseJSON.task_cmpl != 0)
                $("#usage_task_cmpl").html("<a href='/tasks?type=completed' style='color:#FAAB3D'>"+data.responseJSON.task_cmpl+"</a>");
              else
                $("#usage_task_cmpl").html(data.responseJSON.task_cmpl);
              var call_id = "#{@current_organization.task_types.where(:name => "Call").first.id if !@current_organization.task_types.where(:name => "Call").nil? && !@current_organization.task_types.where(:name => "Call").blank?}";
              if("#{@current_user.is_admin? || @current_user.is_super_admin?}" == "true"){
                if(data.responseJSON.owndeal != 0)
                  $("#usage_won_deal").html("<a href='/leads?type=won' style='color:#49AFCD'>"+data.responseJSON.owndeal+"</a>");
                else
                  $("#usage_won_deal").html(data.responseJSON.owndeal);
                if(data.responseJSON.call_cmpl != 0)
                  $("#usage_call_cmpl").html("<a href='/tasks?type=completed&t_type=" + call_id + "' style='color:#78808A'>"+data.responseJSON.call_cmpl+"</a>");  
                else
                  $("#usage_call_cmpl").html(data.responseJSON.call_cmpl);  
                
                
                $("#usage_lead_generated").html(data.responseJSON.deals);          
                $("#usage_nurtured_deal").html(data.responseJSON.leadsnortured);
              }else{
                $("#usage_won_deal").html(data.responseJSON.owndeal);
                var user_id = "#{@current_user.id}";
                if(data.responseJSON.call_cmpl != 0)
                  $("#usage_call_cmpl").html("<a href='/tasks?type=completed&t_type=" + call_id + "&assigned_to="+user_id+"' style='color:#78808A'>"+data.responseJSON.call_cmpl+"</a>");  
                else
                  $("#usage_call_cmpl").html(data.responseJSON.call_cmpl);  
                $("#usage_lead_generated").html(data.responseJSON.deals);
                $("#usage_nurtured_deal").html(data.responseJSON.leadsnortured);
              }
              if(data.responseJSON.lostdeal != 0)
                $("#usage_lost_deal").html("<a href='/leads?type=lost' style='color:#78808A'>"+data.responseJSON.lostdeal+"</a>");
              else
                $("#usage_lost_deal").html(data.responseJSON.lostdeal);
              }
            });
          }
        }
      }
    });
  }
  
  var oTable = $('#taskList').dataTable();
  oTable.fnSort( [ [2,'desc'] ] );