-if user_signed_in?
  #changepassModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .color-line
        .modal-header
          %span.fr.clse_pop{"aria-hidden" => "true", "data-dismiss" => "modal"}
            %i.fal.fa-times.fa-2x
          %h4.modal-title 
            %span.fal.fa-key
            Change Password
        = form_for @user, :url => save_password_path, :html => { :method => :put, :class => "form-horizontal" } do |f|
          .modal-body
            #task_alert_msg.alert.fade.in.alert-danger{style: "display:none;margin-bottom: 30px;"}
              %button.close{onclick: "$('#task_alert_msg').hide();$('#task_loader,.fixed_loader').hide();"} ×
              #task_msg_div            
            #form_content
              - if @user.errors.any?
                .error_messages
                  %ul
                    - for message in @user.errors.full_messages
                      %li= message
              .form-group
                /%label.col-md-4.control-label{for: "inputEmail3"} New Password
                .col-md-3
                .col-md-6
                  %label.control-label.control-lbl-pwd{:for => "input"} New Password
                  = f.password_field :password, :autocomplete => "off",:required => true,  :class=>"form-control"
              .form-group
                /%label.col-md-4.control-label{for: "inputPassword3"} Confirm Password
                .col-md-3
                .col-md-6
                  %label.control-label.control-lbl-pwd{:for => "input"} Confirm Password
                  = f.password_field :password_confirmation,:required => true,  :class=>"form-control"
          .modal-footer
            .pull-right
              %a{href:"#", "aria-hidden" => "true","data-dismiss" => "modal", :class => "btn btn-default"}
                Cancel
              = f.submit "Update" , :class=>"btn btn-info",:onclick=> "return validate_password();"
                  
:javascript
  function validate_password()
  {
   var pwd = $("#user_password").val();
   var pwd_con = $("#user_password_confirmation").val();
  if(pwd != "" && pwd_con != ""){
   if(pwd.length < 8)
   {
    $("#task_alert_msg").show();
    $("#task_msg_div").html('Password is too short(minimum is 8 characters)');
    return false;
   }
   else{
   if(pwd != pwd_con)
   {
    $("#task_alert_msg").show();
    $("#task_msg_div").html('Password does not match.');
    return false;
   }
   else
   {
    $("#task_alert_msg").hide();
    $("#task_msg_div").html('');
   }
   }
  }
  else
  {
   $("#task_alert_msg").hide();
   $("#task_msg_div").html('');
  }
  }

