#confirmJobResolve.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.new_form_layout
    .modal-content
      = form_tag update_mass_project_jobs_path,  :class => "form",:method=>"PUT",:id=>"archive_projects" do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
          %span.cwkp-sprite.resolve_header_icon
          %h4.modal-title{style: "display:inline-block;"} Do you want to resolve the selected job(s)?
        .modal-body
          = hidden_field_tag "resolve_job_ids",""
          = hidden_field_tag "type","resolve"
          = hidden_field_tag "project_id", @project.id
          %div
            .navbar-left.form-layout-footer
              = submit_tag "Ok", class: "btn btn-info", disable_with: "Please wait..."
              %a.btn.btn-default{href:"javascript:", "aria-hidden" => "true","data-dismiss" => "modal"} Cancel