.modal-content
  .color-line
  .modal-header
    %span.fr.clse_pop{"aria-hidden" => "true", "data-dismiss" => "modal"}
      %i.fal.fa-times.fa-2x
    %span.cwkp-sprite.proj_heading_icon
    %h4.modal-title
      %span.fal.fa-briefcase
      
      -if @project_job.new_record?
        CREATE NEW JOB
      -else
        EDIT JOB
  - if @project.present?
    - @project = @project
  - else
    - @project = Project.where(:id=>project_id).first
  - action =   "update" 
  - method =  "put"
  /=debug( @project_job)
  = form_for(@project_job, :url =>project_project_job_path(@project.id,@project_job.id), :html=>{ :class => "form",:id=>"project-job-form"},:method=>method,:remote=>true) do |f|
    .modal-body
      =render :partial=> "/project_jobs/form",:locals=>{open_popup: true, f: f}
    .modal-footer
      = hidden_field_tag "submit_type"
      %a.btn.btn-default{href: @project_job.new_record? ? "/projects/#{@project.id}/jobs" : "/projects/#{@project.id}/jobs/#{@project_job.id}", "aria-hidden" => "true","data-dismiss" => "modal"}
        Cancel
      = submit_tag @project_job.new_record? ? "Save & Exit" : "Update", class: "btn btn-primary save-job-btn", disable_with: "Please wait...", :onclick => "$('.add-more-job-btn').removeAttr('disable_with')"
=render :partial=>'/project_jobs/job_repeat_modal'

:javascript
  $("form#project-job-form").bind("ajax:complete", function() {
    $("#editProjectJobModal").modal("hide")
  });
  $('.project_job_description').summernote({
    toolbar: [
        ['headline', ['style']],
        ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
        ['textsize', ['fontsize']],
        ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']],
    ] 
    });