%div
  %p Choose the users you want to move to the other side.
  .dual-list.list-left.fl{style: "width:45%"}
    %p.dual_list_desc Users to be added
    .well.text-right
      .row
        .col-md-10
          .input-group
            %span.input-group-addon.glyphicon.glyphicon-search
            %input.form-control{:name => "SearchDualList", :placeholder => "search", :type => "text"}/
        .col-md-2
          .btn-group
            %a.btn.btn-default.selector{:title => "select all"}
              %i.glyphicon.dual_list_unchecked
      %ul.list-group
        - project_useres = @project.project_users.map(&:user_id).compact
        - org_users = @current_user.organization.users.where("invitation_token IS ? and is_active = ?", nil,true)
        - not_assigned_users = project_useres.present? ? org_users.where("id NOT IN (?)", project_useres) : org_users
        - not_assigned_users.each do |u|
          %li.list-group-item{:id=>"#{u.id}"}
            = u.full_name.present? ? u.full_name : u.email.split("@")[0]
  .list-arrows.text-center.fl{style: "width:10%"}
    %button.btn.btn-default.btn-sm.move-left{style:"margin-right: 0;"}
      %span.glyphicon.glyphicon-chevron-left
    %button.btn.btn-default.btn-sm.move-right{style:"margin-right: 0;"}
      %span.glyphicon.glyphicon-chevron-right
  .dual-list.list-right.fl{style: "width:45%"}
    %p.dual_list_desc 
      = "User added to "
      %b 
        = @project.name
    .well
      .row
        .col-md-2
          .btn-group
            %a.btn.btn-default.selector{:title => "select all"}
              %i.glyphicon.dual_list_unchecked
        .col-md-10
          .input-group
            %input.form-control{:name => "SearchDualList", :placeholder => "search", :type => "text"}/
            %span.input-group-addon.glyphicon.glyphicon-search
      %ul.list-group
        - @project.project_users.map{|p|p.user}.compact.each do |u|
          %li.list-group-item{:id=>"#{u.id}"}
            = u.full_name.present? ? u.full_name : u.email.split("@")[0]
  .cb
.form-layout-footer{style: "margin-top: 15px;"}
  = submit_tag "Save", :class=> "btn btn-info save_btn", :disable_with => "Please wait ...",:onclick=> "update_project_users('#{@project.id}')", disabled: true
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(function () {
      //$('body').on('click', '.list-group .list-group-item', function () {
      $('.list-group-item').on('click', function () {
          $(this).toggleClass('active');
      });
      $('.list-arrows button').click(function () {
          var $button = $(this), actives = '';
          if ($button.hasClass('move-left')) {
              actives = $('.list-right ul li.active');              
              actives.clone().appendTo('.list-left ul');
              actives.remove();
              left_user_ids=[];
              if($('.list-left ul li.active').length != "0"){
                $(".save_btn").prop('disabled', false);
              }
              $('.list-left ul li.active').each(function() {
                left_user_ids.push($(this).attr("id"));
              });
              $('#hdn_remove_users').val(left_user_ids);
          } else if ($button.hasClass('move-right')) {
              actives = $('.list-left ul li.active');
              actives.clone().appendTo('.list-right ul');
              actives.remove();
              right_user_ids=[];
              if($('.list-right ul li.active').length != "0"){
                $(".save_btn").prop('disabled', false);
              }
              $('.list-right ul li.active').each(function() {
                right_user_ids.push($(this).attr("id"));
              });
              $('#hdn_add_users').val(right_user_ids);
          }
      });
      $('.dual-list .selector').click(function () {
          var $checkBox = $(this);
          if (!$checkBox.hasClass('selected')) {
              $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
              $checkBox.children('i').removeClass('dual_list_unchecked').addClass('dual_list_checked');
          } else {
              $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
              $checkBox.children('i').removeClass('dual_list_checked').addClass('dual_list_unchecked');
          }
      });
      $('[name="SearchDualList"]').keyup(function (e) {
          var code = e.keyCode || e.which;
          if (code == '9') return;
          if (code == '27') $(this).val(null);
          var $rows = $(this).closest('.dual-list').find('.list-group li');
          var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
          $rows.show().filter(function () {
              var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
              return !~text.indexOf(val);
          }).hide();
      });

  });