/ Hidden fields are taken to display name after applying filter
- if @deal.present? 
  =hidden_field_tag "lead_title", @deal.title
- elsif @project.present?
  =hidden_field_tag "lead_title", @project.name
- if @user.present?
  =hidden_field_tag "user", @current_user.id == @user.id ? "Me" : ( @user.full_name.present? ? @user.full_name : @user.email )
.files_content_block
  .files_page
    .files_top_ttl
      %table.table.table-striped.mrg0{style:"box-shadow: rgb(170, 170, 170) 0px 0px 5px;"}
        %thead.file_header
          %tr
            %th.fileno_width.dropdown
              %span{style:"position: relative;top: 2px;margin-right: 3px;"}  
                = "#" 
              - if @current_user.is_super_admin?  
                %input{type:"checkbox", id:"select_all", style:"display: inline-block;vertical-align: middle;margin-top: 1px;margin-right: 2px;margin-left:5px;"}
                %a.dropdown-toggle.action_button{:href=>"javascript:void(0)","data-toggle" => "", :style=> "display: inline-block;cursor:default;text-decoration:none;text-align:left;"}
                  %span.icon-chevron-down{:style => "cursor:pointer;"}
                    =image_tag("drop-down-arrow.png")
                %ul.dropdown-menu{style:"top: 22px;left: 30px;min-width: 90px;"}
                  %li.arrow_top{style: "left:7px;z-index:99;"}
                  %li.tooltip{"data-toggle" => "modal", href: "javascript:void(0)", rel: "popup", title: "Delete Selected File(s)", onclick:"$('#confirmFileArchive').modal('show');",:style=>"padding:2px 5px 2px 10px;cursor:pointer;text-align:left;"} 
                    %span.glyphicon.glyphicon-trash
                    Delete
            %th.filelead_width Lead
            %th.filelead_width Opportunity
            %th.filelead_width Project
            %th.filename_width File Name 
            %th.filetype_width File Type 
            %th.filenote_width Note
            %th.fileuploaded_width Uploaded By 
            %th.filedate_width Date  
            %th.filesize_width File Size
            %th.filedownload_width
        %tbody  
          - match = ""
          - if @note_attachments.present?
            - @note_dates = @note_attachments.group_by{|n| n.created_at.beginning_of_day}
            - @note_dates.each do |dt, note_attachments|
              - if dt
                /- unless match == dt.strftime("%b %d, %Y")
                - today = Time.zone.now.strftime('%Y-%m-%d')
                - yesterday = (Time.zone.now - (24 * 60 * 60)).strftime('%Y-%m-%d')
                %tr
                  %td{colspan: "11", style:"background:#fff"}
                    .tod
                      %b  
                        - if (Date.today.to_s == DateTime.parse(dt.to_s).strftime('%Y-%m-%d').to_s)
                          Today
                        - else
                          - if (yesterday.to_s == DateTime.parse(dt.to_s).strftime('%Y-%m-%d').to_s)
                            Yesterday
                          - else
                            - if dt.strftime("%Y").to_s == Time.zone.now.year.to_s
                              = dt.strftime("%b %d")
                            - else
                              = dt.strftime("%b %d, %Y")
              - sl_no = 0
              -note_attachments.each do |note_attachment,i|
                %tr
                  %td.fileno_width
                    - sl_no = sl_no + 1
                    .fl{style:"margin-top: 7px;margin-right: 5px;"}
                      = "##{sl_no} "
                    - if @current_user.is_super_admin?  
                      .fl{style:"margin-left:5px;"}
                        .dropdown{style:"height: 12px;"}
                          %a.dropdown-toggle{:href=>"javascript:void(0)","data-toggle" => "dropdown", :style=> "display: inline-block;cursor:default;text-decoration:none;text-align:left;"}
                            .deal_set
                          %ul.dropdown-menu{style:"left: -10px;top: 10px;min-width: 90px;"}
                            %li.arrow_top{style: "left:7px;z-index:99;height: 15px;"}
                            %li.tooltip{"data-toggle" => "modal", href: "javascript:void(0)", rel: "popup", title: "Delete File", onclick:"$('#confirmFileArchive').modal('show');$('#attachment_to_delete').val(#{note_attachment.id})",:style=>"padding:2px 5px 2px 10px;cursor:pointer;text-align:left;"} 
                              %span.glyphicon.glyphicon-trash
                              Delete
                        %div
                          %input.chb-in-fl{type:"checkbox", style:"display: inline-block;vertical-align: middle;margin-top: 1px;margin-right: 2px;", onclick:"other_chk_box()", value: note_attachment.id}  
                    .cb
                  %td.filelead_width
                    - if note_attachment.note.notable_type == "Comment"
                      - project = note_attachment.note.notable.commentable.project
                      - if project.present? && project.individual_contact.present?
                        - name = project.individual_contact.full_name.present? ? project.individual_contact.full_name : project.individual_contact.email.split("@")[0]
                        - if name.present?
                          %a.tooltip{href: "/individual_contact/"+project.individual_contact.to_param, title: "#{name}"} 
                            = name.truncate(15)
                        - else
                          ="--"
                      - else
                        ="--"
                    - elsif note_attachment.note.notable_type == "Deal"
                      - deal = note_attachment.note.notable
                      - if deal.individual_contact.present?
                        - name = deal.individual_contact.full_name.present? ? deal.individual_contact.full_name : deal.individual_contact.email.split("@")[0]
                        - if name.present?
                          %a.tooltip{href: "/individual_contact/"+deal.individual_contact.to_param, title: "#{name}"}
                            = name.truncate(15)
                        - else
                          ="--"
                      - else
                        ="--"
                  %td.filelead_width
                    - if note_attachment.note.notable_type == "Deal" || note_attachment.note.notable_type == "DealMove"
                      - deal = @current_organization.deals.find_by_id(note_attachment.note.notable_id)
                      - if deal.present?                          
                        %a.tooltip{href:"/leads/"+deal.to_param.to_s, title: "#{deal.title}"} 
                          = deal.title.truncate(15)
                      - else
                        ="--"
                    - elsif note_attachment.note.notable_type == "Comment"
                      - project = note_attachment.note.notable.commentable.project
                      - if project.present? && project.deal.present?
                        %a.tooltip{href: "/leads/"+project.deal.to_param.to_s, title: "#{project.deal.title}"} 
                          = project.deal.title.truncate(15)
                      - else
                        ="--"
                  %td.filelead_width
                    - if note_attachment.note.notable_type == "Comment"
                      - project = note_attachment.note.notable.commentable.project
                      - if project.present?
                        %a.tooltip{href: "/projects/"+project.id.to_s+"/jobs", title: "#{project.name}"} 
                          = project.name.truncate(15)
                      - else
                        ="--"
                    - else
                      ="--"
                  %td.filename_width
                    %span.tooltip{title: "#{note_attachment.attachment_file_name}"}
                      = note_attachment.attachment_file_name.present? ? note_attachment.attachment_file_name.size > 10 ? "#{note_attachment.attachment_file_name[0..10]}..." : note_attachment.attachment_file_name : ""
                  %td.filetype_width
                    /- file_type = note_attachment.attachment_content_type.present? ? note_attachment.attachment_content_type.split("/").last : "NA"
                    - file_type = note_attachment.attachment_file_name.present? ? note_attachment.attachment_file_name.split(".").last : "NA"
                    - if file_type.downcase == "doc" || file_type.downcase == "docx"
                      - file_title = "Document"
                    - elsif file_type.downcase == "zip"
                      - file_title = "ZIP File"
                    - elsif (file_type.downcase == "xls" || file_type.downcase == "xlsx") || file_type.downcase == "csv"
                      - file_title = "Spreadsheet"
                    - elsif file_type.downcase == "exe"
                      - file_title = "Application"
                    - elsif file_type.downcase == "txt"
                      - file_title = "Text file"  
                    - elsif file_type.downcase == "png"
                      - file_title = "PNG Image File"
                    - elsif file_type.downcase == "jpg"
                      - file_title = "JPG Image File"
                    - elsif file_type.downcase == "jpeg"
                      - file_title = "JPEG Image File"
                    - elsif file_type.downcase == "pdf"
                      - file_title = "PDF File"
                    - else
                      - file_title = "#{file_type.upcase} File"
                      - file_type = "other"
                    
                    - if file_type.downcase == "png" || file_type.downcase == "jpg" || file_type.downcase == "jpeg" || file_type.downcase == "tiff" || file_type.downcase == "gif" || file_type.downcase == "bmp" || file_type.downcase == "ppm" || file_type.downcase == "pgm" || file_type.downcase == "pbm" || file_type.downcase == "pnm"
                      %a{"data-target" => "#ViewImageModal", "data-toggle" => "modal",href: "javascript:void(0)",onclick:"view_image('#{note_attachment.attachment.url}','#{note_attachment.attachment_file_name}')"}  
                        %span.cwkp-sprite.tooltip{class: "file_#{file_type.downcase}", title: file_title}
                    - else   
                      %a{href: note_attachment.attachment.url, download:note_attachment.attachment.url}  
                        %span.cwkp-sprite.tooltip{class: "file_#{file_type.downcase}", title: file_title}
                  %td.filenote_width
                    %span.tooltip{title: note_attachment.note.notes}
                      = note_attachment.note.notes.truncate(20) if note_attachment.note.notes.present?
                  %td.fileuploaded_width
                    - user = @current_organization.users.find_by_id(note_attachment.note.created_by)
                    = user.present? ? (user.full_name.present? ? user.full_name : user.email.split("@")[0]) : ""
                  %td.filedate_width
                    = note_attachment.created_at.strftime("%b %d, %a")
                  %td.filesize_width
                    = note_attachment.attachment_file_size.present? ? "#{note_attachment.attachment_file_size.to_i/1024}" + " KB" : ""
                  %td.filedownload_width  
                    - if note_attachment.attachment_file_name.present?
                      - if file_type.downcase == "png" || file_type.downcase == "jpg" || file_type.downcase == "jpeg" || file_type.downcase == "tiff" || file_type.downcase == "gif" || file_type.downcase == "bmp" || file_type.downcase == "ppm" || file_type.downcase == "pgm" || file_type.downcase == "pbm" || file_type.downcase == "pnm"

                        %a{href: "/download_file?id=#{note_attachment.id}", title: "Download"}
                          %span.cwkp-sprite.download_icon
                      - else
                        %a.tooltip{href: note_attachment.attachment.url, title: "Download", target: "_blank"}
                          %span.cwkp-sprite.download_icon
          - else
            %tr
              %td{colspan:"10"}  
                %div.text-center
                  No Files Found


#confirmFileArchive.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.new_form_layout
    .modal-content
      = form_tag "/archive_selected_files",  :class => "form",:method=>"post",:id=>"archive_files" do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
          %span.cwkp-sprite.delete_header_icon
          %h4.modal-title{style: "display:inline-block;"} Are you sure you want to delete the file(s)?
        .modal-body
          %p{style:"margin-bottom: 20px;"}
            Some of your Leads/Opportunities might get affected, if you do.
          = hidden_field_tag "attachment_to_delete",""
          %div
            .navbar-left.form-layout-footer
              = submit_tag "Ok", class: "btn btn-info", disable_with: "Please wait..."
              %a.btn.btn-default{href:"javascript:", "aria-hidden" => "true","data-dismiss" => "modal"} Cancel
          .cb
#ViewImageModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.new_form_layout
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"} ×
        %h4.modal-title{style: "display:inline-block;"} View Image
      .modal-body

:javascript
  function view_image(img_url, img_name){
    $("#ViewImageModal .modal-body").html("<img src='/assets/ajax-loader2.gif'/>");
    
    $("#ViewImageModal .modal-body").html("<div style='padding:20px;text-align:center;max-height: 350px;overflow-y: auto;margin-bottom: 20px;'><img src='"+img_url+"' style='max-width:100%;'/><div style='position:absolute;right:10px;bottom:10px'><a href = \'"+img_url+"\' download = \'"+img_name+"\' title = \'Download - "+img_name+"\' >Download</a></div></div>");
  }
  var vals="";
  $("#select_all").prop("checked",false);
  $("#select_all").on('click', function(){
    if($(this).is(":checked")){
      $(".chb-in-fl").each(function(i){
        $(this).prop("checked",true);
        vals = vals + $(this).val().toString() + ",";
      })
      $(".action_button").attr("data-toggle","dropdown");
    }else{
      $(".action_button").attr("data-toggle","");
      $(".chb-in-fl").each(function(i){
        $(this).prop("checked",false);
      })
      vals="";
    }
    $("#attachment_to_delete").val(vals);
  })
  function other_chk_box(){
    var check_box_count = $(".chb-in-fl").length;
    var check_all_count = 0;
    vals="";
    $(".chb-in-fl").each(function(i){
      if($(this).is(":checked")){
        check_all_count = check_all_count + 1;
        vals = vals + $(this).val().toString() + ",";
      }
    })
    if(check_box_count == check_all_count){
      $("#select_all").prop("checked",true);
    }else{
      $("#select_all").prop("checked",false);
    }
    if(check_all_count == 0 ){
      $(".action_button").attr("data-toggle","");
    }else{
      $(".action_button").attr("data-toggle","dropdown");
    }
    $("#attachment_to_delete").val(vals);
  }
