.p0
  %div
    .navbar-right
      %form{action: "#", method: "get"}
      .input-group
        %input#system-search.form-control{name: "q", placeholder: "Type to search...", style: "height: 30px;padding-right:20px"}
        %span.glyphicon.glyphicon-search.fr{style: "margin-right:5px;top:-21px"}
  .cb
  .table-responsive{:style=>"overflow: auto;max-height: 400px;width: 100%;"}
    %table.table.table-list-search.table-striped.table-bordered
      %thead
        %tr
          %th #SL
          %th{style: "width: 20%;"} Opportunity
          %th Amount
          %th Contact/Lead
          %th Assigned to
          %th Created Date
          %th Priority
          %th Stage

          
      %tbody
        - if !@deals.nil? || !@deals.blank?
          - i = 1
          - @deals.each do |deal|
            %tr
              %td 
                = i 
              %td 
                = link_to lead_url(deal), :target => "_blank" do
                  = deal.title
              %td
                - if deal.amount.present? && deal.amount != 0
                  = deal.currency_type if deal.currency_type.present?
                  = number_with_delimiter(deal.amount, :delimiter => ',')
              %td
                - if deal.deals_contacts.present? && (contact = deal.deals_contacts.first.contactable).present?
                  - cont_name = contact.full_name.present? ? contact.full_name : contact.email
                  %a.tooltip{ href: "/contact/#{contact.to_param}", target:"_blank", title: cont_name}
                    = cont_name.truncate(20)
              %td 
                = deal.assigned_user.present? ? ((deal.assigned_user.id == @current_user.id) ? "me" : deal.assigned_user.full_name.present? ? deal.assigned_user.full_name : deal.assigned_user.email) : ''
              %td 
                = date_format(deal.created_at)
                /= deal.initiator.present? ? (deal.initiated_by == @current_user..id ? "me" : deal.initiator.first_name) : ""
              %td 
                - if(deal.priority_type.name == "Hot")
                  - spancls = "hot_pri"
                - elsif(deal.priority_type.name == "Cold")
                  - spancls = "cold_pri"
                - else
                  - spancls = "warm_pri"
                
                %span{:class=>"#{spancls} labelTaskType"}
                  = deal.priority_type.name
              %td
                = deal.is_won.present? ? (deal.is_won ? "Won" : "Lost") : (deal.deal_status.present? ? deal.deal_status.name : "")
                
            - i += 1
