.normalheader.small-header
  .hpanel
    .panel-body
      %a.small-header-action{:href => ""}
        .clip-header
          %i.fal.fa-arrow-up        
      %h2.font-light.m-b-xs 
        %i.fal.fa-layer-group
          - goals = @current_user.goals
          - if goals.present?
            #task-dropdown-menu.dropdown
              %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button",:style=>"font-size: 17px;color: #000;background: #fff;border:0px"}
                %span.bt-name{class: "get_selected_txt", :style=>"font-size:17px;"}
                  Goal#1
                %span.caret
              %ul.dropdown-menu.selected_txt{:style=>"top:25px;"}
                %li.arrow_top{:style=>"left:40%;z-index:99;"}
                - i=0
                - goals.each do |goal|
                  %li.task-tab-data
                    - i+=1
                    %a{:href => "javascript:void(0)",:style=>"color:#000", :onclick=>"display_goals('#{goal.id}');$('.bt-name').html('Goals##{i.to_s}')", :class => "goal-chat-load"}
                      = "Goals#"+ i.to_s
      %small

.content
  .hpanel
    #goal_sec
      - if @current_user.is_admin?
        = render :partial => "admin_goals"
      - else
        = render :partial => "goals"
:javascript
  function display_goals(goal_id){
    var user_id = $("#fiter_user_type").val();
    $.ajax({
      type: "GET",
      url: "/goals_view",
      dataType: 'json',
      data: {goal_id: goal_id, user_id: user_id},
      async: true,
      beforeSend: function(){
        $("#task_loader,.fixed_loader").show();
      },
      success: function(data)
      {
       
      },
      error: function(data) {
        $("#task_loader,.fixed_loader").hide();
      },
      complete: function(data) {
        $("#goal_sec").html(data.responseText);        
      }
    });
  }